# Action name
name: Continuous integration

# Here, this action will be enabled on all pushes.
# Modify this to fit your needs.
on:
  push

# Jobs section
jobs:
  test:
    runs-on: self-hosted
    container:
      image: php:8.4-cli-alpine
    steps:
      - name: setup
        run: "apk add --no-cache curl libzip-dev libxml2-dev \
              && curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/bin/ --filename=composer \
              && docker-php-ext-install soap zip"
      - name: composer install
        run: "composer install"
      - name: lint using pint
        run: "./vendor/bin/pint -q -n --test"
      - name: run tests
        run: "php artisan test"