# Action name
name: Run laravel framework tests

# Here, this action will be enabled on all pushes.
# Modify this to fit your needs.
on:
  push

# Jobs section
jobs:
  test:
    strategy:
      matrix:
        php: ["8.2", "8.3", "8.4"]
        laravel: ["11", "12"]
    runs-on: self-hosted
    container:
      image: php:${{ matrix.php }}-cli-alpine
    name: "PHP${{ matrix.php }} - Laravel ${{ matrix.laravel }}"
    steps:
      - name: setup
        run: "apk add --no-cache curl libzip-dev libxml2-dev \
              && curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/bin/ --filename=composer \
              && docker-php-ext-install soap zip"
      - name: run test
        run: "./tests/laravel.sh ${{matrix.laravel}}"